<div class="jumbotron vertical-center">
  <h2><%=@customer.name %></h2>
  <ul>
    <li>Year: <%=@customer.year %></li>
    <li>Email: <%=@customer.email %></li>
    <li>Meals: <%=@customer.plan %></li>
  </ul>

  <% if current_user %>
  <div class="btn-group">
    <%= link_to "Edit", edit_customer_path(@customer), :class => "btn btn-default"%>
    <%= link_to "Delete", customer_path(@customer), :class => "btn btn-default", method: :delete%>
  </div>
  <%end%>
</div>
