<h2><%=@customer.name %></h2>
<ul>
  <li><%=@customer.year %></li>
  <li><%=@customer.email %></li>
  <li><%=@customer.plan %></li>
</ul>

<% if current_user %>
<%= link_to "Edit", edit_customer_path(@customer)%>
<%= link_to "Delete", customer_path(@customer), method: :delete%>
<%end%>
