<h2><%=@restaurant.name %></h2>
<ul>
  <li><%=@restaurant.contact %></li>
  <li><%=@restaurant.email %></li>
  <li><%=@restaurant.phone %></li>
  <li><%=@restaurant.menu %></li>
</ul>

<%= link_to "Edit", edit_restaurant_path(@restaurant)%>
<%= link_to "Delete", restaurant_path(@restaurant), method: :delete%>


<h3>Customers</h3>
<ul>
  <%@customers.each do |customer| %>
  <li>
      <%=customer.name%>
      <%=customer.plan%>
      <%=customer.id%>
      <%= form_for [@restaurant,@meal] do |f| %>
        <%= hidden_field_tag :customer_id, customer.id %>
      <%= f.submit "Add meal"%>
      <%end%>
  <%end%>
  </li>
</ul>

<h3>Meals</h3>
<ul>
<%@meals.each do |meal| %>
<li>
<%=Restaurant.find(meal.restaurant_id).name%>
<%=Customer.find(meal.customer_id).name%>
</li>
<%end%>
</ul>
